*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color:inherit;
}


.food-section{
    border-bottom:solid 3px rgb(#555,0.4);
    margin:10px auto;
    padding:20px;
}

.food-section h1{
    color:#555;
    font-size: 1.5em;
}

.menu-wrapper{
    max-width:800px;
    margin:auto;
}

.menu-item{
    border-radius: 5px;
    margin:10px auto;
    width:100%;
    max-width: 600px;
    border-bottom:solid 1px #fff; 
    padding:20px;
    color:#fff;
    background:#058ED9;
}

.menu-item h3{
    display: inline-block;
    font-weight: 500;
    margin:5px;
    text-transform: capitalize;
}

.menu-item h4{
    float:right;
    margin:5px;
}

.menu-item p{
    font-size: 0.85em;
    padding:0 5px;
}

.header h1{
    background:#FF1053;
    padding:20px;
    color:#fff;
    text-align: center;
}

.item-counter{
    text-align: right;
}

.item-counter button{
    color:#fff;
    border:none;
    padding:5px;
    font-size: 1.2em;
    width:30px;
    border:solid 1px transparent;
    transition: all linear .2s;
}

.item-counter button:active{
    border:solid 1px #fff;
    transition: all linear .2s;
    transform: scale(0.8);
}

.item-counter span{
    color:#333;
    background:#fff;
    padding:5px 10px;
    font-size: 1.1em;
    font-weight: 600;
    margin:10px;
}

.footer{
    margin-top: 100px;
    text-align: center;
    background:#555;
    padding:20px;
    color:#fff;
}
