*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color:inherit;
}

li{
    list-style-type: none;
}

button{
    border:none;
    text-align: center;
    transition: all linear .3s;
}

button:active,i:active{
    transform:scale(0.8);
}
